---
version: "2"

services:
  goaccess:
    image: docker.io/library/nginx:mainline-alpine
    cpus: 2
    mem_limit: 256M
    memswap_limit: 256M
    ulimits:
      nofile:
        soft: 1024
        hard: 1024
    volumes:
      - '/var/lib/goaccess/goaccess.conf:/etc/nginx/conf.d/default.conf'
      - '/var/lib/goaccess/data/html:/var/www'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.goaccess-http.entrypoints=http"
      - "traefik.http.routers.goaccess-http.rule=Host(`{{ goaccess_fqdn }}`)"
      - "traefik.http.routers.goaccess-http.middlewares=http-to-https@file"
      - "traefik.http.routers.goaccess-https.entrypoints=https"
      - "traefik.http.routers.goaccess-https.rule=Host(`{{ goaccess_fqdn }}`)"
{% if goaccess_traefik_tls_certresolver %}
      - "traefik.http.routers.goaccess-https.tls.certResolver={{ goaccess_traefik_tls_certresolver }}"
{% else %}
      - "traefik.http.routers.goaccess-https.tls=true"
{% endif %}
{% if goaccess_auth %}
      - "traefik.http.routers.goaccess-https.middlewares=goaccess-auth"
      - "traefik.http.middlewares.goaccess-auth.basicauth.users={{ goaccess_auth }}"
{% endif %}
