---
# vim: ft=yaml.ansible:
log:
  level: warn

experimental:
  http3: true

entryPoints:
  {{traefik_entrypoints | to_nice_yaml(indent=2) | trim | indent(2)}}

api:
  dashboard: true

serversTransport:
  insecureSkipVerify: true

providers:
  {{traefik_providers | to_nice_yaml(indent=2) | trim | indent(2)}}

certificatesResolvers:
{% if traefik_letsencrypt_dns_challenge %}
  letsencrypt:
    acme:
      email: letsencrypt@herecura.eu
      storage: /var/lib/traefik/acme.json
      dnsChallenge:
        provider: versio
        delayBeforeCheck: 300
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
        disablePropagationCheck: true
{% elif traefik_letsencrypt_http_challenge %}
  letsencrypt:
    acme:
      email: letsencrypt@herecura.eu
      storage: /var/lib/traefik/acme.json
      httpChallenge:
        entryPoint: http
{% endif %}

accessLog:
  filePath: "/var/lib/traefik/logs/access.log"
  bufferingSize: 100
  fields:
    defaultMode: keep
    headers:
      defaultMode: keep
