---
version: '2'

services:
  mysql:
    image: {{ mariadb_image }}
    cpus: 4
    mem_limit: 4096M
    memswap_limit: 4096M
    ulimits:
      nofile:
        soft: 4096
        hard: 4096
    user: "2001:2001"
    command:
      - "--table-definition-cache=1000"
      - "--innodb-buffer-pool-size=1476395008"
      - "--innodb-log-file-size=369098752"
      - "--innodb-file-per-table=1"
      - "--transaction-isolation=read-committed"
      - "--skip-innodb-read-only-compressed"
      - "--join-buffer-size=524288"
      - "--tmp-table-size=33554432"
      - "--max-heap-table-size=33554432"
      - "--lower-case-table-names=0"
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    environment:
      TZ: Europe/Brussels
      MARIADB_AUTO_UPGRADE: yes
      MYSQL_ROOT_PASSWORD: {{ mariadb_root_password }}
    volumes:
      - /var/lib/mariadb/mariadb:/var/lib/mysql
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.mysql-rtr.entrypoints=mysql"
      - "traefik.tcp.routers.mysql-rtr.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.mysql-rtr.service=mysql-svc"
      - "traefik.tcp.services.mysql-svc.loadbalancer.server.port=3306"
