#!/usr/bin/env bash

docker run --net host \
    -v /var/lib/mariadb/backups:/var/backups/db \
    -v /var/lib/mariadb/automysqlbackup:/usr/local/bin/automysqlbackup \
    -v /var/lib/mariadb/automysqlbackup.conf:/etc/automysqlbackup/automysqlbackup.conf \
    {{ mariadb_image }} \
    /usr/local/bin/automysqlbackup
