---
version: '2'

services:
{% if not wordpress_host_db %}
  mysql:
    image: docker.io/library/mariadb:10.7
    cpus: 2
    mem_limit: 2048M
    memswap_limit: 2048M
    ulimits:
      nofile:
        soft: 4096
        hard: 4096
    command:
      - "--innodb-file-per-table=1"
      - "--lower-case-table-names=0"
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    volumes:
      - "/var/lib/wordpress/{{ wordpress_name }}/mysql:/var/lib/mysql"
    environment:
      - "TZ=${TZ}"
      - "MARIADB_AUTO_UPGRADE=yes"
      - "MARIADB_RANDOM_ROOT_PASSWORD=yes"
      - "MYSQL_DATABASE={{ wordpress_database_name }}"
      - "MYSQL_USER={{ wordpress_database_username }}"
      - "MYSQL_PASSWORD={{ wordpress_database_password }}"

{% endif %}
  redis:
    image: docker.io/library/redis:alpine
    cpus: 1
    mem_limit: 256M
    memswap_limit: 256M
    ulimits:
      nofile:
        soft: 1024
        hard: 1024
    environment:
      TZ: Europe/Brussels
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      LANGUAGE: C.UTF-8

{% if wordpress_litespeed %}
  cron:
    image: {{ wordpress_litespeed_image }}
    cpus: 1
    mem_limit: 1024M
    memswap_limit: 1024M
    ulimits:
      nofile:
        soft: 1024
        hard: 1024
    environment:
      TZ: Europe/Brussels
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      LANGUAGE: C.UTF-8
      C_UID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
      C_GID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
    command: ./wordpress-cron
    volumes:
      - {{ wordpress_data }}:/app:rw
{% if wordpress_host_db %}
    extra_hosts:
      - "mysql:host-gateway"
{% endif %}

  application:
    image: {{ wordpress_litespeed_image }}
    cpus: 2
    mem_limit: 2048M
    memswap_limit: 2048M
    ulimits:
      nofile:
        soft: 2048
        hard: 2048
    environment:
      TZ: Europe/Brussels
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      LANGUAGE: C.UTF-8
      C_UID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
      C_GID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
    volumes:
      - {{ wordpress_data }}:/app:rw
{% if wordpress_host_db %}
    extra_hosts:
      - "mysql:host-gateway"
{% endif %}
{% else %}
  cron:
    image: {{ wordpress_php_image }}
    cpus: 1
    mem_limit: 1024M
    memswap_limit: 1024M
    ulimits:
      nofile:
        soft: 1024
        hard: 1024
    environment:
      TZ: Europe/Brussels
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      LANGUAGE: C.UTF-8
      C_UID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
      C_GID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
    command: ./wordpress-cron
    volumes:
      - {{ wordpress_data }}:/phpapp:rw
{% if wordpress_host_db %}
    extra_hosts:
      - "mysql:host-gateway"
{% endif %}

  application:
    image: {{ wordpress_php_image }}
    cpus: 2
    mem_limit: 2048M
    memswap_limit: 2048M
    ulimits:
      nofile:
        soft: 2048
        hard: 2048
    environment:
      TZ: Europe/Brussels
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      LANGUAGE: C.UTF-8
      C_UID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
      C_GID: {{ ansible_facts.getent_passwd[wordpress_data_user].1 }}
    volumes:
      - {{ wordpress_data }}:/phpapp:rw
{% if wordpress_host_db %}
    extra_hosts:
      - "mysql:host-gateway"
{% endif %}

  nginx:
    image: {{ wordpress_nginx_image }}
    cpus: 1
    mem_limit: 256M
    memswap_limit: 256M
    ulimits:
      nofile:
        soft: 1024
        hard: 1024
    volumes:
      - {{ wordpress_data }}:/phpapp:ro
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ wordpress_name }}-http.entrypoints=http"
      - "traefik.http.routers.{{ wordpress_name }}-http.rule=Host(`{{ wordpress_hosts | join('`,`') }}`)"
      - "traefik.http.routers.{{ wordpress_name }}-http.middlewares=http-to-https@file"
      - "traefik.http.routers.{{ wordpress_name }}-https.entrypoints=https"
      - "traefik.http.routers.{{ wordpress_name }}-https.rule=Host(`{{ wordpress_hosts  | join('`,`') }}`)"
{% if wordpress_traefik_tls_certresolver %}
      - "traefik.http.routers.{{ wordpress_name }}-https.tls.certResolver={{ wordpress_traefik_tls_certresolver }}"
{% else %}
      - "traefik.http.routers.{{ wordpress_name }}-https.tls=true"
{% endif %}
