#!/bin/bash

set -eo pipefail

wp core download

wp config create \
    --dbname="{{ wordpress_database_name }}" \
    --dbhost="mysql" \
    --dbuser="{{ wordpress_database_username }}" \
    --dbpass="{{ wordpress_database_password }}" \
    --dbcharset=utf8mb4 \
    --dbcollate=utf8mb4_unicode_ci

wp core install \
    --url="https://{{ wordpress_hosts[0] }}" \
    --title=Wordpress \
    --admin_email=admin@example.com \
    --admin_user=admin \
    --admin_password="WordPressAdmin123!" \
    --skip-email
