---
version: "3"
services:
  traefik:
    image: docker.io/library/traefik:v2.10
    security_opt:
      - no-new-privileges:true
    network_mode: host
    environment:
      TZ: Europe/Brussels
{% if traefik_letsencrypt_dns_challenge %}
      VERSIO_USERNAME: {{ traefik_versio_user }}
      VERSIO_PASSWORD: {{ traefik_versio_pass }}
{% endif %}
    volumes:
      - /etc/traefik:/etc/traefik:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/traefik/data:/var/lib/traefik:rw
      - /var/lib/traefik/certs:/certs:ro

{% if traefik_tls_certresolver %}
  traefik-certs-dumper:
    image: docker.io/ldez/traefik-certs-dumper:v2.8.1
    entrypoint: |
      traefik-certs-dumper file --version v2 --watch
      --source /data/acme.json --dest /certs
    volumes:
      - /var/lib/traefik/data:/data:ro
      - /var/lib/traefik/certs:/certs:rw
{% endif %}
