#
# /etc/pacman.conf
#
# See the pacman.conf(5) manpage for option and repository directives

#
# GENERAL OPTIONS
#
[options]
# The following paths are commented out with their default values listed.
# If you wish to use different paths, uncomment and update the paths.
#RootDir     = /
{% if pacman_db_path %}
DBPath      = {{ pacman_db_path }}
{% else %}
#DBPath      = /var/lib/pacman/
{% endif %}
#CacheDir    = /var/cache/pacman/pkg/
#LogFile     = /var/log/pacman.log
#GPGDir      = /etc/pacman.d/gnupg/
#HookDir     = /etc/pacman.d/hooks/
HoldPkg     = pacman glibc
#XferCommand = /usr/bin/curl -L -C - -f -o %o %u
#XferCommand = /usr/bin/wget --passive-ftp -c -O %o %u
#CleanMethod = KeepInstalled
Architecture = auto

# Pacman won't upgrade packages listed in IgnorePkg and members of IgnoreGroup
#IgnorePkg   =
#IgnoreGroup =

#NoUpgrade   =
#NoExtract   =

# Misc options
#UseSyslog
#Color
NoProgressBar
CheckSpace
VerbosePkgLists
ParallelDownloads = 3

# By default, pacman accepts packages signed by keys that its local keyring
# trusts (see pacman-key and its man page), as well as unsigned packages.
SigLevel    = Required DatabaseOptional
LocalFileSigLevel = Optional
#RemoteFileSigLevel = Required

# NOTE: You must run `pacman-key --init` before first using pacman; the local
# keyring can then be populated with the keys of all official Arch Linux
# packagers with `pacman-key --populate archlinux`.

#
# REPOSITORIES
#   - can be defined here or included from another file
#   - pacman will search repositories in the order defined here
#   - local/custom mirrors can be added here or in separate files
#   - repositories listed first will take precedence when packages
#     have identical names, regardless of version number
#   - URLs will have $repo replaced by the name of the current repo
#   - URLs will have $arch replaced by the name of the architecture
#
# Repository entries are of the format:
#       [repo-name]
#       Server = ServerName
#       Include = IncludePath
#
# The header [repo-name] is crucial - it must be present and
# uncommented to enable the repo.
#

# The testing repositories are disabled by default. To enable, uncomment the
# repo name header and Include lines. You can add preferred servers immediately
# after the header, and they will be used before the default mirrors.

{% if pacman_enable_herecura %}
[herecura]
{% if pacman_enable_internal %}
Server = https://repo.internal.herecura.eu/$repo/$arch
{% endif %}
Server = https://repo.herecura.eu/$repo/$arch
{% endif %}

{% if pacman_enable_herecura_php %}
[php]
{% if pacman_enable_internal %}
Server = https://repo.internal.herecura.eu/$repo/$arch
{% endif %}
Server = https://repo.herecura.eu/$repo/$arch
{% endif %}

[core]
Include = /etc/pacman.d/mirrorlist

{% if pacman_enable_blackeagle_pre_community %}
[blackeagle-pre-community]
{% if pacman_enable_internal %}
Server = https://repo.internal.herecura.eu/$repo/$arch
{% endif %}
Server = https://repo.herecura.eu/$repo/$arch
{% endif %}

[extra]
Include = /etc/pacman.d/mirrorlist

{% if pacman_enable_vivaldi_soprano %}
[vivaldi-soprano]
{% if pacman_enable_internal %}
Server = https://{{ archlinux_repo_vivaldi_soprano_user }}:{{ archlinux_repo_vivaldi_soprano_pass }}@repo.internal.herecura.eu/$repo/$arch
{% endif %}
Server = https://{{ archlinux_repo_vivaldi_soprano_user }}:{{ archlinux_repo_vivaldi_soprano_pass }}@repo.herecura.eu/$repo/$arch
{% endif %}

{% if pacman_enable_herecura_game %}
[herecura-game]
{% if pacman_enable_internal %}
Server = https://{{ archlinux_repo_herecura_game_user }}:{{ archlinux_repo_herecura_game_pass }}@repo.internal.herecura.eu/$repo/$arch
{% endif %}
Server = https://{{ archlinux_repo_herecura_game_user }}:{{ archlinux_repo_herecura_game_pass }}@repo.herecura.eu/$repo/$arch
{% endif %}

# If you want to run 32 bit applications on your x86_64 system,
# enable the multilib repositories as required here.

#[multilib]
#Include = /etc/pacman.d/mirrorlist

# An example of a custom package repository.  See the pacman manpage for
# tips on creating your own repositories.
#[custom]
#SigLevel = Optional TrustAll
#Server = file:///home/custompkgs
