---
# vim: ft=yaml:
http:
  routers:
    dashboard-http-rtr:
      rule: Host(`{{ traefik_dashboard_fqdn }}`)
      entryPoints:
        - http
      middlewares:
        - http-to-https
      service: noop@internal
    dashboard-https-rtr:
      rule: Host(`{{ traefik_dashboard_fqdn }}`)
{% if traefik_tls_certresolver %}
      tls:
        certResolver: "{{ traefik_tls_certresolver }}"
{% else %}
      tls: {}
{% endif %}
      entryPoints:
        - https
      middlewares:
        - dashboard-auth
      service: api@internal
  middlewares:
    dashboard-auth:
      basicAuth:
        users:
          - "{{ traefik_dashboard_auth }}"
