{
    "experimental": true,
{% if docker_enable_ipv6 %}
    "ip6tables": true,
{% endif %}
    "default-runtime": "crun",
    "runtimes": {
        "crun": {
            "path": "/usr/bin/crun"
        }
    }
}
